{% extends 'base.html.twig' %}

{% block title %}Gerenciar Categorias{% endblock %}

{% block body %}
    <div class="d-flex flex-column justify-content-center align-items-center">
        <h1>Categorias</h1>
            <table class="table table-dark table-striped text-center">
                <thead>
                    <tr>
                        <th scope="col">Id</th>
                        <th scope="col">Descrição</th>
                        <th scope="col">Ações</th>
                    </tr>
                </thead>
                <tbody>
                {% for categorium in categorias %}
                    <tr>
                        <td scope="row">{{ categorium.id }}</td>
                        <td>{{ categorium.descricaocategoria }}</td>
                        <td>
                           <div class="dropdown">
                                <button class="btn btn-light dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
                                    Selecione uma ação
                                </button>
                                <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                    <li><a class="dropdown-item" href="{{ path('app_categoria_show', {'id': categorium.id}) }}">Mostrar</a></li>  
                                    <li><a class="dropdown-item" href="{{ path('app_categoria_edit', {'id': categorium.id}) }}">Editar</a></li>  
                                </ul>
                            </div>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>

            <a class="link link-success" href="{{ path('app_categoria_new') }}">Create new</a>
    </div>
{% endblock %}
