{# </style>

{% set name2 = name|capitalize %}

{% if (name == 'movimentacao') %}
{% set name2 = 'Movimentação' %}
{% set items = items|sort((a, b) => a.date <=> b.date) %}
{% endif %}

{% set statusClass = ""%}
<div class="container">
    <div class="d-flex align-items-center mb-4">
        <a class="btn btn-block link btn-success" href="{{ path('app_'~ name ~'_new') }}">Nova {{name2}}</a>
    </div>
    <div>
        <table class="table table-hover mb-3 pb-4 text-center ">
            <thead>
                <tr class="table-dark titulo-tabela">
                    {% for title in titles %}
                        <th scope="col">{{ title }}</th>
                    {% endfor %}
                </tr>
            </thead>
            <tbody>
                {% for item in items %}
                    {% if (name == 'movimentacao') %}
                        {# {% set statusClass = item.status == '0' ? 'bg-success zoom-effect' : 'bg-danger zoom-effect' %} #}
                        {# <tr>
                            <td>{{ item.descricao}}</td>
                            <td>{{ item.valor | number_format(2, ',', '.')}}</td>
                            <td>{{ item.status == 0 ? 'Entrada' : 'Saída' }}</td>
                            <td>{{ item.category.descricao}}</td>
                            <td>{{ item.date.format('d/m/Y') }}</td> 
                    {% else %}
                        <tr>
                            <th>{{ item.descricao}}</td>
                        </tr>
                    {% endif %}
                        <td class="col-3">
                            <div class="row d-flex">
                                <a class="btn link col" href="{{ path('app_' ~ name ~ '_edit', {'id': item.id}) }}">Editar</a>
                                <form id="excluirlinha" class="btn col" 
                                method="post" action="{{ path('app_' ~ name ~ '_delete', {'id': item.id}) }}" 
                                onsubmit="return confirm('Tem certeza de que deseja excluir este item?');">
                                    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ item.id) }}">
                                    <a class="btn btn-sm link col"  
                                    onclick="document.getElementById('excluirlinha').submit();">Excluir</a>
                                </form>
                            </div>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div> #}


{# Table head vai receber a descrição, a quantia, o status , date e as ações #}
{# Table body  vai receber descricao, quantia, status, date, os links de ação vão receber os paths e os ids #}
{# Vamos receber um array de titles #}
{# Toda tabela deverá ter um nome #}

{% set name2 = name|capitalize %}

{% if (name == 'movimentacao') %}
{% set name2 = 'Movimentação' %}
{% set items = items|sort((a, b) => a.data <=> b.data) %}
{% endif %}

<div class="d-flex align-items-center mb-4 mt-4">
    <a class="btn btn-block link btn-success" href="{{ path('app_'~ name ~'_new') }}">Nova {{name2}}</a>
</div>

<table class="table table-responsive-xl">
    <thead>
        <tr class="table-dark titulo-tabela">
            {% for title in titles %}
                <th scope="col">{{ title }}</th>
            {% endfor %}
                <th scope="col">Ações</th>
        </tr>
    </thead>
    <tbody>
        {% for item in items %}
            {% if (name == 'movimentacao') %}
                {# {% set statusClass = item.status == '0' ? 'bg-success zoom-effect' : 'bg-danger zoom-effect' %} #}
                <tr>
                    <td>{{ item.descricao}}</td>
                    <td>{{ item.valor | number_format(2, ',', '.')}}</td>
                    <td class="status">{{ item.status == 0 ? 'Entrada' : 'Saída' }}</td>
                    <td>{{ item.category.descricao}}</td>
                    <td>{{ item.data.format('d/m/Y') }}</td> 
            {% else %}
                <tr>
                    <th>{{ item.descricao}}</td>
                </tr>
            {% endif %}
                <td class="col-3">
                    <div class="d-flex">
                        <a class="link link-warning link-edit mr-3" href="{{ path('app_' ~ name ~ '_edit', {'id': item.id}) }}">Editar</a>
                        <form id="excluirlinha" 
                              method="post" action="{{ path('app_' ~ name ~ '_delete', {'id': item.id}) }}" 
                              onsubmit="return confirm('Tem certeza de que deseja excluir este item?');"
                              >
                            <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ item.id) }}">
                            <button 
                            class="btn btn-sm btn-danger"  
                            onclick="document.getElementById('excluirlinha').submit();"
                            >
                            Excluir
                            </button>
                        </form>
                    </div>
                </td>
            </tr>
        {% endfor %}
    </tbody>
</table>


{# <td>
            <label class="checkbox-wrap checkbox-primary">
                    <input type="checkbox">
                    <span class="checkmark"></span>
                </label>
        </td>
        <td class="d-flex align-items-center">
        <div class="img" style="background-image: url(images/person_2.jpg);"></div>
        <div class="pl-3 email">
            <span>jacobthornton@email.com</span>
            <span>Added: 01/03/2020</span>
        </div>
        </td>
        <td>Jacobthornton</td>
        <td class="status"><span class="waiting">Waiting for Resassignment</span></td>
        <td>
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true"><i class="fa fa-close"></i></span>
    </button>
    </td>
    </tr>
    <tr>
        <td>
            <label class="checkbox-wrap checkbox-primary">
                    <input type="checkbox">
                    <span class="checkmark"></span>
                </label>
        </td>
        <td class="d-flex align-items-center">
        <div class="img" style="background-image: url(images/person_3.jpg);"></div>
        <div class="pl-3 email">
            <span>larrybird@email.com</span>
            <span>Added: 01/03/2020</span>
        </div>
        </td>
        <td>Larry_bird</td>
        <td class="status"><span class="active">Active</span></td>
        <td>
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true"><i class="fa fa-close"></i></span>
    </button>
    </td>
    </tr>
    <tr>
        <td>
            <label class="checkbox-wrap checkbox-primary">
                    <input type="checkbox">
                    <span class="checkmark"></span>
                </label>
        </td>
        <td class="d-flex align-items-center">
        <div class="img" style="background-image: url(images/person_4.jpg);"></div>
        <div class="pl-3 email">
            <span>johndoe@email.com</span>
            <span>Added: 01/03/2020</span>
        </div>
        </td>
        <td>Johndoe1990</td>
        <td class="status"><span class="active">Active</span></td>
        <td>
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true"><i class="fa fa-close"></i></span>
    </button>
    </td>
    </tr>
    <tr>
        <td class="border-bottom-0">
            <label class="checkbox-wrap checkbox-primary">
                    <input type="checkbox">
                    <span class="checkmark"></span>
                </label>
        </td>
        <td class="d-flex align-items-center border-bottom-0">
        <div class="img" style="background-image: url(images/person_1.jpg);"></div>
        <div class="pl-3 email">
            <span>garybird@email.com</span>
            <span>Added: 01/03/2020</span>
        </div>
        </td>
        <td class="border-bottom-0">Garybird_2020</td>
        <td class="status border-bottom-0"><span class="waiting">Waiting for Resassignment</span></td>
        <td class="border-bottom-0">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true"><i class="fa fa-close"></i></span>
    </button>
    </td>
    </tr> #}