{% extends 'base.html.twig' %}

{% block title %}Movimentacao{% endblock %}

{% block body %}
    <h1>Movimentacao</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ movimentacao.id }}</td>
            </tr>
            <tr>
                <th>Descricaomovimentacao</th>
                <td>{{ movimentacao.descricao }}</td>
            </tr>
            <tr>
                <th>Quantia</th>
                <td>{{ movimentacao.valor }}</td>
            </tr>
            <tr>
                <th>Status</th>
                <td>{{ movimentacao.status ? 'Yes' : 'No' }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_movimentacao_index') }}">back to list</a>

    <a href="{{ path('app_movimentacao_edit', {'id': movimentacao.id}) }}">edit</a>

    {{ include('movimentacao/_delete_form.html.twig') }}
{% endblock %}
